<div
    class='card mt-5'
    style=' width: 36rem;     
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    background-color: #ffffff;
    display: block ;'
    id='postCard'
  >

 <div id="commentCard" class='card-body' style="display: block;">
      
          <h2 data-id="{{post.id}}"id="postTitle" class='my-2 pb-1 border-bottom border-dark'>{{post.title}}</h2>
          
          <p>{{post.content}}</p>

          <label for='comment'> Comment:</label>
      <textarea
      data-id="{{post.id}}"
        id='comment'
        class='form-control mt-2'
        type='text'
        name='comment'
        placeholder='Walk the dog'
        style='height: 200px;'
      > </textarea>
      <button id='commentBtn' class='btn btn-primary mt-2'>Add Comment</button>
      <button id='backBtn' class='btn btn-primary mt-2'>Go Back</button>
    
       
    </div>
    <div id="commentCard" class='card-body' style="display: none;">
      
          <h2 data-id="{{post.id}}"id="postTitle" class='my-2 pb-1 border-bottom border-dark'>{{post.title}}</h2>
          
          <p>{{post.content}}</p>

          <label for='comment'> Comment:</label>
      <textarea
      data-id="{{post.id}}"
        id='comment'
        class='form-control mt-2'
        type='text'
        name='comment'
        placeholder='Walk the dog'
        style='height: 200px;'
      > </textarea>
      <button id='commentBtn' class='btn btn-primary mt-2'>Add Comment</button>
      <button id='backBtn' class='btn btn-primary mt-2'>Go Back</button>
    
       
    </div>
    
  </div>

  <script src="/js/postView.js"></script>
  
  